@import "tailwindcss";

:root {
  --background: #020202;
  --foreground: #FAFFFD;

  /* Palette */
  --urban-primary: #DD1C1A;
  /* Redish */
  --urban-secondary: #FAFFFD;
  /* Off-white */
  --urban-third: #F0C808;
  /* Yellow */
  --urban-four: #020202;
  /* Black */
}

.light {
  --background: #FAFFFD;
  --foreground: #020202;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-heading: var(--font-urban-heading);
  --font-body: var(--font-urban-body);

  --color-urban-red: var(--urban-primary);
  --color-urban-white: var(--urban-secondary);
  --color-urban-yellow: var(--urban-third);
  --color-urban-black: var(--urban-four);
}

body {
  color: #FAFFFD;
  font-family: var(--font-urban-body), sans-serif;
}

/* Custom Animations */
@keyframes bounce-scale {

  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }
}

.animate-bounce-scale {
  animation: bounce-scale 0.2s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-urban-heading), sans-serif;
  letter-spacing: 0.05em;
}